@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Light.woff") format("woff"), url("../fonts/Calibri-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Bold';
  src: url("../fonts/Calibri-Bold.eot");
  src: url("../fonts/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'font0af53d8e86ff91c1a8a3e36197626368';
  src: url("https://nomail.com.ua/files/eot/0af53d8e86ff91c1a8a3e36197626368.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/0af53d8e86ff91c1a8a3e36197626368.woff") format("woff"), url("https://nomail.com.ua/files/woff2/0af53d8e86ff91c1a8a3e36197626368.woff2") format("woff2"); }
body {
  font-family: 'Calibri Regular';
  color: #303030; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  a:hover {
    text-decoration: none;
    color: #d3d3d3; }

img {
  max-width: 100%;
  height: auto; }

.mini-footer {
  background: #303030;
  height: 80px; }

.header {
  padding: 17px 0px;
  background-color: #303030; }

.logo {
  white-space: nowrap; }
  .logo__title {
    font-size: 27px;
    text-transform: uppercase; }
  .logo__subtitle {
    display: block;
    margin-top: -10px;
    font-size: 14px; }

.navbar {
  margin-top: 17px; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .navbar__item {
    margin-right: 20px; }
  .navbar__link {
    white-space: nowrap; }

.button {
  cursor: pointer;
  border: none;
  background-color: #303030;
  width: 158px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding-top: 3px; }
  .button_discount {
    margin-left: 30px; }
  .button_course {
    margin-top: 10px;
    margin-bottom: 30px; }
  .button__text {
    font-size: 13px;
    color: white; }
    .button__text_dark {
      text-transform: uppercase;
      color: #111; }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .button_light {
    padding: 6px 20px;
    background-color: #fff; }

.promo {
  background: url(../img/promo.jpg) no-repeat;
  background-size: 100%;
  text-align: center; }
  .promo__title {
    text-transform: uppercase;
    margin-top: 130px; }
  .promo__subtitle {
    color: #111111;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 21px; }
  .promo__list {
    margin-top: 40px;
    padding-left: 0;
    list-style: none; }
  .promo__link {
    color: #303030;
    border-bottom: 1px dashed #303030; }

.social {
  margin-top: 50px;
  margin-bottom: 120px;
  text-align: center; }

.discount {
  background: url(../img/second-bg.jpg) no-repeat;
  background-size: 114%; }
  .discount__card {
    margin-top: 65px;
    margin-bottom: 80px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #cdcccc;
    -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    overflow: hidden; }
    .discount__card:hover {
      -webkit-box-shadow: 3px 1px 52px -1px rgba(0, 0, 0, 0.75);
              box-shadow: 3px 1px 52px -1px rgba(0, 0, 0, 0.75); }
  .discount__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .discount__title {
    margin-top: 50px;
    color: #111111;
    font-size: 70px;
    line-height: 1; }
    .discount__title_big {
      font-size: 90px; }
    .discount__title_big_number {
      font-size: 200px; }
  .discount__img {
    max-width: 100%;
    height: auto; }
  .discount__descr {
    font-size: 18px;
    color: #111111;
    width: 225px;
    margin-left: 20px;
    line-height: 1.1; }
  .discount__subinfo {
    margin-bottom: -8px; }
    .discount__subinfo_small {
      margin-top: 15px;
      font-size: 14px; }

.courses {
  background: url(../img/courses-bg.jpg) no-repeat center;
  background-size: 100%; }
  .courses__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }

.course {
  text-align: center;
  font-size: 14px; }
  .course__title {
    height: 60px;
    margin-top: 20px;
    font-size: 16px; }
  .course__img {
    max-width: 100%;
    height: auto; }
  .course__schedule {
    margin: 0 auto;
    width: 208px; }
  .course__duration {
    width: 223px;
    height: 100px;
    margin: 0 auto; }

.about {
  color: #111111; }
  .about__title {
    text-align: center;
    font-size: 50px;
    margin: 48px 0px; }
  .about__img {
    margin-bottom: 30px; }
  .about__descr {
    text-align: center;
    font-size: 14px; }

.advantages {
  padding-top: 24px;
  padding-bottom: 18px;
  background: #303030;
  color: #fff; }
  .advantages .advantage {
    text-align: center; }
    .advantages .advantage__title {
      display: block;
      font-size: 30px;
      margin-bottom: 0; }
    .advantages .advantage__text {
      margin-top: -7px;
      line-height: 1; }

/*# sourceMappingURL=style.css.map */