@charset "UTF-8";
@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Light.woff") format("woff"), url("../fonts/Calibri-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Bold';
  src: url("../fonts/Calibri-Bold.eot");
  src: url("../fonts/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'font0af53d8e86ff91c1a8a3e36197626368';
  src: url("https://nomail.com.ua/files/eot/0af53d8e86ff91c1a8a3e36197626368.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/0af53d8e86ff91c1a8a3e36197626368.woff") format("woff"), url("https://nomail.com.ua/files/woff2/0af53d8e86ff91c1a8a3e36197626368.woff2") format("woff2"); }
body {
  font-family: "Calibri Regular";
  color: #111; }

.page-wrapper {
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  a:hover {
    text-decoration: none;
    color: #d3d3d3; }

img {
  max-width: 100%;
  height: auto; }

.mini-footer {
  margin-top: 65px;
  background: #303030;
  height: 80px; }

.yandex-map {
  border: none; }

@media (max-width: 768px) {
  .mobile-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .desktop-panel {
    display: none; } }
/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  top: -25px;
  position: absolute;
  right: 20px;
  border-radius: 4px;
  z-index: 10; }

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px; }

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #dad8d8;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.burger span::before, .burger span::after {
  position: absolute;
  content: ""; }

.burger span::before {
  top: -9px; }

.burger span::after {
  top: 9px; }

.burger.clicked span {
  background-color: transparent; }

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg); }

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg); }

.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff; }

.burger:hover {
  cursor: pointer; }

/*  NAV
========================================== */
nav {
  background: #303030;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

nav.show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

nav.show ul.main li:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }

nav.show ul.main li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }

nav.show ul.main li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s; }

nav.show ul.main li:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }

nav.show ul.main li:nth-child(5) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s; }

nav.show ul.main li:nth-child(6) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s; }

nav.show ul.main li:nth-child(7) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s; }

nav.show ul.main li:nth-child(8) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s; }

nav.show ul.main li:nth-child(9) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s; }

nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition-delay: .85s;
          transition-delay: .85s; }

@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px; } }
nav ul.main {
  list-style-type: none; }

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.main li:last-of-type {
  margin-bottom: 0px; }

nav ul.main li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.main li a span {
  color: #795e88; }

nav ul.main li a:hover {
  color: #c0c0c0; }

nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%; }

nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0; }

nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px; }

nav .social a:last-of-type {
  margin-right: 0px; }

nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #b7ac7f; }

nav .social a svg {
  width: 100%;
  height: 100%; }

nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav ul.sub li {
  margin-bottom: 10px; }

nav ul.sub li:last-of-type {
  margin-bottom: 0px; }

nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.sub li a:hover {
  color: #b7ac7f; }

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #403544;
  opacity: 0;
  visibility: hidden; }

.overlay.show {
  opacity: 0.8;
  visibility: visible; }

/* menu setup is finished
========================================= */
.mobile-burger {
  display: none; }
  @media (max-width: 768px) {
    .mobile-burger {
      display: block; } }
  @media (max-width: 575px) {
    .mobile-burger .burger {
      top: -45px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.mobile-panel {
  display: none; }

@media (max-width: 768px) {
  .mobile-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .desktop-panel {
    display: none; } }
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background-size: 50%;
  color: transparent;
  top: 50%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: -45px;
  background: url(../img/carousel/arrow-left.png) no-repeat;
  z-index: 1; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -75px;
  background: url(../img/carousel/arrow-right.png) no-repeat; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.stella-carousel {
  margin-top: 30px;
  margin-bottom: 30px; }

@media (max-width: 636px) {
  .slick-next {
    right: -25px;
    background-size: 40%; }

  .slick-prev {
    left: 5px;
    background-size: 40%; } }
.header {
  padding: 17px 0px;
  background-color: #303030; }
  .header__phone {
    white-space: nowrap; }
  @media (max-width: 994px) {
    .header__phone {
      font-size: 14px; } }
  @media (max-width: 768px) {
    .header__button {
      display: none; } }

.logo {
  white-space: nowrap; }
  .logo__title {
    font-size: 27px;
    text-transform: uppercase; }
  .logo__subtitle {
    display: block;
    margin-top: -10px;
    font-size: 14px; }
  @media (max-width: 994px) {
    .logo__title {
      font-size: 21px; }
    .logo__subtitle {
      font-size: 11px; } }
  @media (max-width: 768px) {
    .logo__title {
      font-size: 21px; }
    .logo__subtitle {
      font-size: 12px; } }

.navbar {
  margin-top: 17px; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .navbar__item {
    margin-right: 20px; }
  .navbar__link {
    white-space: nowrap; }
  @media (max-width: 994px) {
    .navbar {
      font-size: 14px; }
    .navbar__item {
      margin-right: 10px; }
    .navbar__list {
      padding-left: 0; } }
  @media (max-width: 768px) {
    .navbar {
      display: none; } }

.button {
  cursor: pointer;
  border: none;
  background-color: #9a2424;
  width: 158px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding-top: 3px; }
  .button_discount {
    margin-left: 30px; }
  .button_course {
    margin-top: 10px;
    margin-bottom: 30px; }
  .button__text {
    font-size: 16px;
    color: white; }
    .button__text_dark {
      text-transform: uppercase;
      color: #111; }
  .button_promo {
    margin-top: 30px;
    margin: 0 auto; }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .button_light {
    padding: 6px 20px;
    background-color: #fff; }
  @media (max-width: 994px) {
    .button {
      width: 100px; }
    .button__text {
      font-size: 12px; } }

.promo {
  background: url(../img/promo.jpg) no-repeat;
  background-size: 100%;
  text-align: center; }
  .promo__title {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 65px; }
  .promo__subtitle {
    color: #111111;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 26px; }
  .promo__list {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none; }
  .promo__link {
    font-size: 20px;
    color: #111;
    border-bottom: 1px dashed #111; }
  @media (max-width: 994px) {
    .promo__title {
      margin-top: 50px;
      font-size: 35px; }
    .promo__subtitle {
      margin-top: 20px;
      font-size: 18px; }
    .promo__list {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    .promo__title {
      margin-top: 29px;
      font-size: 27px; }
    .promo__subtitle {
      margin-top: 13px;
      font-size: 14px; }
    .promo__list {
      margin-top: 15px; } }
  @media (max-width: 576px) {
    .promo__title {
      margin-top: 20px;
      font-size: 30px; }
    .promo__subtitle {
      margin-top: 13px;
      font-size: 12px; }
    .promo__list {
      margin-top: 7px; }
    .promo__link {
      font-size: 12px; }
    .promo__social {
      display: none; }
    .promo {
      background: none; } }

.social {
  margin-top: 50px;
  margin-bottom: 120px;
  text-align: center; }
  @media (max-width: 994px) {
    .social {
      margin-top: 25px;
      margin-bottom: 50px; } }

.discount {
  padding-top: 40px;
  background: url(../img/second-bg.jpg) no-repeat;
  background-size: 114%; }

@media (max-width: 530px) {
  .discount {
    background-size: cover; } }
.courses {
  background: url(../img/courses-bg.jpg) no-repeat center;
  background-size: 100%; }
  .courses__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  @media (max-width: 768px) {
    .courses {
      background: none; } }

.course {
  text-align: center;
  font-size: 14px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin-bottom: 50px; }
  .course:hover {
    -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .course__title {
    padding: 0px 5px;
    height: 60px;
    margin-top: 20px;
    font-size: 16px; }
  .course__schedule {
    list-style: none;
    padding: 0; }
  .course__duration {
    width: 223px;
    height: 100px;
    margin: 0 auto; }
  @media (max-width: 768px) {
    .course__title {
      height: 35px; }
    .course__img {
      width: 220px;
      margin: 0 auto; }
    .course:hover {
      -webkit-transform: none;
              transform: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .course__duration {
      height: 70px; } }

.about {
  color: #111111; }
  .about__title {
    text-align: center;
    font-size: 50px;
    margin: 48px 0px; }
  .about__img {
    margin-bottom: 30px; }
  .about__descr {
    text-align: center;
    font-size: 18px; }
  @media (max-width: 530px) {
    .about__title {
      font-size: 38px;
      margin: 28px 0px; } }

.advantages {
  padding-top: 24px;
  padding-bottom: 18px;
  background: #303030;
  color: #fff; }
  .advantages .advantage {
    text-align: center;
    margin-bottom: 17px; }
    .advantages .advantage__title {
      display: block;
      font-size: 30px;
      margin-bottom: 0; }
    .advantages .advantage__text {
      margin-top: -7px;
      line-height: 1; }
    @media (max-width: 768px) {
      .advantages .advantage__title {
        font-size: 27px; }
      .advantages .advantage__text {
        width: 200px;
        margin: 0 auto; } }

.team {
  background: #f3f3f3; }
  .team__title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 40px;
    font-size: 50px; }
  .team__item {
    text-align: center;
    padding: 10px 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 1px solid transparent;
    margin-bottom: 50px; }
    .team__item:hover {
      -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
              box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .team__name {
    margin-top: 20px;
    font-size: 18px;
    color: #111111; }
  .team__info {
    font-size: 14px; }
  @media (max-width: 768px) {
    .team__title {
      font-size: 30px; }
    .team__avatar {
      width: 200px;
      margin: 0 auto; }
    .team__item:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transform: none;
              transform: none; } }

.feedback {
  text-align: center;
  padding: 10px 15px; }
  .feedback__title {
    font-size: 41px;
    color: #111111;
    margin-top: 40px;
    margin-bottom: 35px; }
  .feedback__img-wrap {
    overflow: hidden;
    border-radius: 150px;
    width: 250px;
    height: 250px;
    margin: 0 auto; }
  .feedback__name {
    margin-top: 15px; }
  .feedback__text {
    font-size: 14px;
    width: 280px;
    margin: 0 auto; }
  .feedback__more {
    margin-top: 45px;
    font-size: 18px;
    text-transform: uppercase;
    color: #111; }
    .feedback__more:hover {
      color: #989898; }

/*# sourceMappingURL=style.css.map */