@charset "UTF-8";
@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Light.woff") format("woff"), url("../fonts/Calibri-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri Bold';
  src: url("../fonts/Calibri-Bold.eot");
  src: url("../fonts/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'font0af53d8e86ff91c1a8a3e36197626368';
  src: url("https://nomail.com.ua/files/eot/0af53d8e86ff91c1a8a3e36197626368.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/0af53d8e86ff91c1a8a3e36197626368.woff") format("woff"), url("https://nomail.com.ua/files/woff2/0af53d8e86ff91c1a8a3e36197626368.woff2") format("woff2"); }
body {
  font-family: "Calibri Regular";
  color: #111; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  a:hover {
    text-decoration: none;
    color: #d3d3d3; }

img {
  max-width: 100%;
  height: auto; }

.mini-footer {
  background: #303030;
  height: 80px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background-size: 50%;
  color: transparent;
  top: 50%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: -45px;
  background: url(../img/carousel/arrow-left.png) no-repeat; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -75px;
  background: url(../img/carousel/arrow-right.png) no-repeat; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.stella-carousel {
  margin-top: 30px;
  margin-bottom: 30px; }

.header {
  padding: 17px 0px;
  background-color: #303030; }

.logo {
  white-space: nowrap; }
  .logo__title {
    font-size: 27px;
    text-transform: uppercase; }
  .logo__subtitle {
    display: block;
    margin-top: -10px;
    font-size: 14px; }

.navbar {
  margin-top: 17px; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .navbar__item {
    margin-right: 20px; }
  .navbar__link {
    white-space: nowrap; }

.button {
  cursor: pointer;
  border: none;
  background-color: #303030;
  width: 158px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding-top: 3px; }
  .button_discount {
    margin-left: 30px; }
  .button_course {
    margin-top: 10px;
    margin-bottom: 30px; }
  .button__text {
    font-size: 13px;
    color: white; }
    .button__text_dark {
      text-transform: uppercase;
      color: #111; }
  .button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .button_light {
    padding: 6px 20px;
    background-color: #fff; }

.promo {
  background: url(../img/promo.jpg) no-repeat;
  background-size: 100%;
  text-align: center; }
  .promo__title {
    text-transform: uppercase;
    margin-top: 130px; }
  .promo__subtitle {
    color: #111111;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 21px; }
  .promo__list {
    margin-top: 40px;
    padding-left: 0;
    list-style: none; }
  .promo__link {
    color: #111;
    border-bottom: 1px dashed #111; }

.social {
  margin-top: 50px;
  margin-bottom: 120px;
  text-align: center; }

.discount {
  background: url(../img/second-bg.jpg) no-repeat;
  background-size: 114%; }
  .discount__card {
    margin-top: 65px;
    margin-bottom: 80px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #cdcccc;
    -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    overflow: hidden; }
    .discount__card:hover {
      -webkit-box-shadow: 3px 1px 52px -1px rgba(0, 0, 0, 0.75);
              box-shadow: 3px 1px 52px -1px rgba(0, 0, 0, 0.75); }
  .discount__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .discount__title {
    margin-top: 50px;
    color: #111111;
    font-size: 70px;
    line-height: 1; }
    .discount__title_big {
      font-size: 90px; }
    .discount__title_big_number {
      font-size: 200px; }
  .discount__img {
    max-width: 100%;
    height: auto; }
  .discount__descr {
    font-size: 18px;
    color: #111111;
    width: 225px;
    margin-left: 20px;
    line-height: 1.1; }
  .discount__subinfo {
    margin-bottom: -8px; }
    .discount__subinfo_small {
      margin-top: 15px;
      font-size: 14px; }

.courses {
  background: url(../img/courses-bg.jpg) no-repeat center;
  background-size: 100%; }
  .courses__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }

.course {
  text-align: center;
  font-size: 14px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin-bottom: 50px; }
  .course:hover {
    -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .course__title {
    padding: 0px 5px;
    height: 60px;
    margin-top: 20px;
    font-size: 16px; }
  .course__img {
    max-width: 100%;
    height: auto; }
  .course__schedule {
    list-style: none;
    padding: 0; }
  .course__duration {
    width: 223px;
    height: 100px;
    margin: 0 auto; }

.about {
  color: #111111; }
  .about__title {
    text-align: center;
    font-size: 50px;
    margin: 48px 0px; }
  .about__img {
    margin-bottom: 30px; }
  .about__descr {
    text-align: center;
    font-size: 14px; }

.advantages {
  padding-top: 24px;
  padding-bottom: 18px;
  background: #303030;
  color: #fff; }
  .advantages .advantage {
    text-align: center; }
    .advantages .advantage__title {
      display: block;
      font-size: 30px;
      margin-bottom: 0; }
    .advantages .advantage__text {
      margin-top: -7px;
      line-height: 1; }

.team {
  background: #f3f3f3; }
  .team__title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 40px;
    font-size: 50px; }
  .team__item {
    text-align: center;
    padding: 10px 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 1px solid transparent;
    margin-bottom: 50px; }
    .team__item:hover {
      -webkit-box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
              box-shadow: 3px 1px 26px -5px rgba(0, 0, 0, 0.75);
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .team__name {
    margin-top: 20px;
    font-size: 18px;
    color: #111111; }
  .team__info {
    font-size: 14px; }

.feedback {
  text-align: center;
  padding: 10px 15px; }
  .feedback__title {
    font-size: 45px;
    color: #111111;
    margin-top: 40px;
    margin-bottom: 35px; }
  .feedback__img-wrap {
    overflow: hidden;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto; }
  .feedback__name {
    margin-top: 15px; }
  .feedback__text {
    font-size: 14px; }
  .feedback__more {
    margin-top: 45px;
    font-size: 18px;
    text-transform: uppercase;
    color: #111; }
    .feedback__more:hover {
      color: #989898; }

/*# sourceMappingURL=style.css.map */