.button {
    cursor: pointer;
    border: none;
    background-color: #9a2424;
    width: 158px;
    transition: 0.6s ease;
    padding-top: 3px;
    &_discount {
        margin-left: 30px;
    }

    &_course {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 16px;
        color: white;
        &_dark {
            text-transform: uppercase;
            color: #111;
        }
    }

    &_promo {
        margin-top: 30px;
        margin: 0 auto;
        padding-top: 6px;
        padding-bottom: 4px;
    }



    &:hover {
        transform: scale(1.1);
    }

    &_light {
        padding: 6px 20px;
        background-color: #fff;
    }

    @media (max-width: 994px) {
        
        & {
            width: 150px;
        } 

        &__text {
            font-size: 14px;
        }
    }
      
}