.courses {
    background: url(../img/courses-bg.jpg)no-repeat center;
    background-size: 100%;

    &__title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    @media (max-width: 768px) {

        & {
            background: none;
        }

    }
}

.course {
    text-align: center;
    font-size: 14px;
    transition: 0.6s ease;
    margin-bottom: 50px;
    &:hover {
        @include main-animation;
    }

    &__title {
        text-transform: uppercase;
        padding: 0px 5px;
        height: 60px;
        margin-top: 20px;
        font-size: 16px;
    }


    &__schedule {
        list-style: none;
        padding: 0;
    }

    &__duration {
        width: 223px;
        height: 100px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {

        & {
            margin-bottom: 0;
        }

        &__title {
            height: 35px;
        }

        &__img {
            width: 220px;
            margin: 0 auto;
        }

        &:hover {
            transform: none;
            box-shadow: none;
        }

        &__duration {
            height: 70px;
        }

    }
        


}