.discount {
    padding-top: 60px;
    background: url(../img/second-bg.jpg)no-repeat;
    background-size: 114%;
}

@media (max-width: 530px) {
    .discount {
        background-size: cover;
    }
}