.feedback {
    text-align: center;
    padding: 10px 15px;

    &__title {
        font-size: 41px;
        color: $title-color;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    &__img-wrap {
        overflow: hidden;
        border-radius: 150px;
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    &__name {
        margin-top: 15px;
    }

    &__text {
        font-size: 14px;
    }

    &__more {
        display: inline-block;
        border-bottom: 1px dashed $bg;
        margin-top: 45px;
        font-size: 18px;
        text-transform: uppercase;
        color: $font-color;
        &:hover {
            color: #989898;
        }
    }


    @media (max-width: 9750px) {

        &__img-wrap {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

        &__more {
            border-bottom: none;
            text-decoration: underline;
            font-size: 14px;
        }
        
    }
    
}