body {
    @include regular;
    color: $font-color;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease;
    &:hover {
        text-decoration: none;
        color: #d3d3d3;
    }

}