.header {
    padding: 17px 0px;
    background-color: $bg;

    &__phone {
        white-space: nowrap;
    }

    @media (max-width: 994px) {
        &__phone {
            font-size: 14px;
        }
      }

      @media (max-width: 768px) {
        &__button {
            display: none;
        }

      }
}

.logo {
    white-space: nowrap;
    &__title {

        font-size: 27px;
        text-transform: uppercase;
    }

    &__subtitle {
        display: block;
        margin-top: -10px;
        font-size: 14px;
    }

    @media (max-width: 994px) {
        &__title {
            font-size: 21px;
        }

        &__subtitle {
            font-size: 11px;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 21px;
        }

        &__subtitle {
            font-size: 12px;
        }
    }

}