.modal-left {
  &__list {
    padding-left: 15px;
  }
}

.modal-right {

  &__block {
    padding: 13px;
    background: #303030;
  }

  &__list {
    color: #fff;
    list-style: none;
    padding-left: 0;
  }

  &__price {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}