.navbar {
    margin-top: 17px;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
      margin-right: 20px;
  }

  &__link {
    white-space: nowrap;
  }

  @media (max-width: 994px) {
      & {
        font-size: 14px;
      }  

      &__item {
        margin-right: 10px;
    }

    &__list {
      padding-left: 0;
    }
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
}
}
