.social {
    text-align: center;

    &_contacts {
        text-align: left;
        margin-top: 15px;
    }

    @media (max-width: 720px) {
        &_contacts {
            text-align: center;
        } 
    }
}