.social {
    text-align: center;

    &__link {
        display: inline-block;
        width: 27px;
        height: 27px;
    }

    &__icon {
        border-radius: 7px;
    }

    &_contacts {
        text-align: left;
        margin-top: 15px;
    }

    @media (max-width: 720px) {
        &_contacts {
            text-align: center;
        } 
    }
}